@model HW2.Models.Admin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminRegister</title>
</head>
<body>
    <br />
    <div class="form-group">
        @using (Html.BeginForm("SubmitRegister", "Admin", FormMethod.Post))
        {
            <table cellpadding="5" cellspacing="3">
                <tr>
                    <th colspan="2" align="center">Admin Register</th>
                </tr>
                <tr>
                    <td>First Name: </td>
                    <td>
                        @Html.TextBoxFor(m => m.AdminFirstName, new { @class = "input-group-text", placeholder = "Enter First Name" })
                    </td>
                </tr>
                <tr>
                    <td>Last Name: </td>
                    <td>
                        @Html.TextBoxFor(m => m.AdminLastName, new { @class = "input-group-text", placeholder = "Enter Last Name" })
                    </td>
                </tr>
                <tr>
                    <td>Username: </td>
                    <td>
                        @Html.TextBoxFor(m => m.AdminUsername, new { @class = "input-group-text", placeholder = "Enter Username" })
                    </td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td>
                        @Html.PasswordFor(m => m.AdminPassword, new { @class = "input-group-text", placeholder = "Enter Password" })
                    </td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>
                        @Html.TextBoxFor(m => m.AdminEmail, new { @class = "input-group-text", placeholder = "Enter Email" })
                    </td>
                </tr>
                <tr>
                    <td>Admin Code: </td>
                    <td>
                        @Html.PasswordFor(m => m.AdminCode, new { @class = "input-group-text", placeholder = "Enter Admin Code" })
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
        }
        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
    @Html.Raw(TempData["UsernameExists"])
    @Html.Raw(TempData["AdmCode"])
    @Html.Raw(TempData["Pass"])
    @Html.Raw(TempData["EmptyField"])

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <table id="AdminsTable">
        <thead>
            <tr>
                <td>
                    Username
                </td>
                <td>
                    First Name
                </td>
                <td>
                    Last Name
                </td>
                <td>
                    Email
                </td>
            </tr>
        </thead>
        <tbody id="tablebody"></tbody>
    </table>
    <script language="javascript">
        $("#status").text("Loading...")

        $.get("GetAdminsByJson", null, BindData);
        function BindData(admins) {
            var tbl = $("#AdminsTable")

            for (k = 0; k < admins.length; k++) {
                var newRow = "<tr>" +
                    "<td>" + admins[k].AdminUsername + "</td>" +
                    "<td>" + admins[k].AdminFirstName + "</td>" +
                    "<td>" + admins[k].AdminLastName + "</td>" +
                    "<td>" + admins[k].AdminEmail + "</td>" +
                    "</tr>";
                tbl.append(newRow)
            }
            $("#status").text("")

        }

    </script>
</body>
</html>

