@model HW2.Models.Admin
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminLogin</title>
</head>
<body>
    <br />
    <div class="input-group">
        @using (Html.BeginForm("SubmitLogin", "Admin", FormMethod.Post))
        {
            <table cellpadding="5" cellspacing="3">
                <tr>
                    <th colspan="2" align="center">Admin Login</th>
                </tr>
                <tr>
                    <td>Username: </td>
                    <td>
                        @Html.TextBoxFor(m => m.AdminUsername, new { @class = "input-group-text", placeholder = "Enter Username" })
                    </td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td>
                        @Html.PasswordFor(m => m.AdminPassword, new { @class = "input-group-text", placeholder = "Enter Password" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Login" class="btn btn-primary btn-lg" /></td>
                </tr>
            </table>
        }
    </div>
    @Html.Raw(TempData["wrong3"]) @*Wrong username or password message*@
    @Html.Raw(TempData["wrong4"])
    @Html.Raw(TempData["EmptyField"])
</body>
</html>
